<%= form_with(model: @task, local: true) do |form| %>
  <div class="task_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="task_detail">
    <%= form.label :detail %>
    <%= form.text_field :detail %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to 'タスク一覧画面に戻る', tasks_path %>